body{
    background-color: rgb(245, 248, 248);
}
.container{
}
.calc{
    display:flex;
    flex-direction: column;
    margin:auto;
    width: 500px;
    height: 500px;
    border: 1px solid salmon;
    background-color:rgb(233, 229, 229)
}
.screen{
    display:flex;
    margin: 12px 5px;
    height: 100px;
    background-color: aliceblue;
    align-items: flex-end;
    flex-direction: column;
}
.output, .output-ans{
   font-size: 48px;
   padding: 8px;
}
.output-previous{
    font-size: 24px;
    padding:8px;
}
.btns-container{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}
.btn-row{
    display:flex;
    flex:1;
}
.btn{
    margin: 4px;
    flex:1;
    background-color: rgb(240, 166, 70);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.btn:hover{
    background-color: rgb(240, 198, 144);
    cursor: pointer;
}